@model AspShop.Models.Home.HomeAdminViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">DashBoard (панель адміністратора)</h1>

</div>

<div class="border m-3 p-3">
    <h2>Товарні групи</h2>
    <form id="admin-group-form" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="group-name-addon"><i class="bi bi-bag-check"></i></span>
                    <input name="group-name" type="text" class="form-control" placeholder="Назва"
                           aria-label="Назва" aria-describedby="group-name-addon">
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="group-description-addon"><i class="bi bi-card-text"></i></span>
                    <input name="group-description" type="text" class="form-control" placeholder="Опис"
                           aria-label="Опис" aria-describedby="group-description-addon">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="group-slug-addon"><i class="bi bi-link"></i></span>
                    <input name="group-slug" type="text" class="form-control" placeholder="Посилання"
                           aria-label="Посилання" aria-describedby="group-slug-addon">
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputGroupFile02"><i class="bi bi-cloud-upload"></i></label>
                    <input name="group-img" type="file" class="form-control" id="inputGroupFile02">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-primary">Додати</button>
    </form>

</div>

<div class="border m-3 p-3">
    <h2>Товари</h2>
    <form id="admin-product-form" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="product-name-addon"><i class="bi bi-bag-check"></i></span>
                    <input name="product-name" type="text" class="form-control" placeholder="Назва"
                           aria-label="Назва" aria-describedby="product-name-addon">
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="product-description-addon"><i class="bi bi-card-text"></i></span>
                    <input name="product-description" type="text" class="form-control" placeholder="Опис"
                           aria-label="Опис" aria-describedby="product-description-addon">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="product-slug-addon"><i class="bi bi-link"></i></span>
                    <input name="product-slug" type="text" class="form-control" placeholder="Посилання"
                           aria-label="Посилання" aria-describedby="product-slug-addon">
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="product-img-input"><i class="bi bi-cloud-upload"></i></label>
                    <input name="product-img" type="file" class="form-control" id="product-img-input">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="product-price-addon"><i class="bi bi-currency-exchange"></i></i></span>
                    <input name="product-price" type="number" min="0" step="0.01" class="form-control" placeholder="Ціна"
                           aria-label="Ціна" aria-describedby="product-price-addon">
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="product-stock-addon"><i class="bi bi-database"></i></span>
                    <input name="product-stock" type="number" min="1" step="1" class="form-control" placeholder="Кількість"
                           aria-label="Кількість" aria-describedby="product-stock-addon">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="product-group-id"><i class="bi bi-list-ol"></i></i></label>
                    <select name="product-group-id" class="form-select" id="product-group-id">
                        @foreach (var grp in Model.ProductGroups)
                        {
                            <option value="@grp.Id">@grp.Name</option>
                        }
                    </select>
                </div>

            </div>
            <div class="col"><button type="submit" class="btn btn-outline-primary">Додати</button></div>
        </div>       
    </form>
</div>