@model AspShop.Models.Home.HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Крамниця</h1>  
</div>

<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
    @foreach(var grp in Model.ProductGroups)
    {
        @Html.DisplayFor(m => grp)
    }
</div>
